@import './helpers/reset';
@import './helpers/variables';
@import './components/atoms/propositions';
@import './components/molecules/questionCard';

.app {
  min-height: 100vh;
  background-image: $gradient;
  padding: 10px;
}