@import '../helpers/variables';

.choice {
  margin-top: 2rem;

  &__title {
    color: $color3;
    font-size: $font-size-title2;
    text-align: center;
  }

  &__quizzContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  &__quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 10px 10px;
    min-width: 300px;
    min-height: 400px;
    border-radius: $radius-8;
    background-color: red;
    transition: $transition;
    &:hover {
    filter: grayscale(60%);
    }
  }
}

