@import "../helpers/variables";

.choice {
  margin-top: 2rem;

  &__title {
    color: $color3;
    font-size: $font-size-title2;
    text-align: center;
  }

  &__quizzContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem 0;
    padding: 10px 10px;
    min-width: 250px;
    min-height: 250px;
    border-radius: $radius-8;
    background-color: $color2;
    transition: $transition;
    &:hover {
      background-color: darken($color2, 10%);
    }
  }
}
