.question {
  width: 500px;
  padding: 20px;
  background-color: $color3;
  border-radius: $radius-8;


  & .question__title {
    margin-bottom: 10px;
    font-size: $font-size-title4;
    font-weight: $bold;
    text-align: center;
  }
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media(max-width: 520px) {
  .question {
    width: 300px;
  }
}